.navtab {
    background-color:#0e59a4;
    color: white;
    font-size: 18px;
    transition: .3s;
    white-space: nowrap;
    /* padding-top: 150px;   */
    max-width: 400px;
}


/* This controls the list component that contains the icons and the labels */
.tab {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left:30px;
}

/* We use the unordered list component to make sure when we hover, he colour changes and the pointer too */
.tab-container :hover {
    color: white;
    cursor: pointer;   
}



/* Features of the icon */
.material-icons {
    position:fixed;
    left:7.5px;
    text-align: left;

}

/* Styles for child menu items */
.child-tabs {
    list-style-type: none;
    padding-left: 30px;
}

.child-tab {
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 30px;
}
